* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --shadowlightblueBG: hsl(224 100% 92%);
  --fontcolor: black;
  --lightblueBG: hsl(225 100% 94%);
  --colorButton: hsl(245 75% 52%);
  --colorOrder: hsl(228 14% 57%);
  --hovercolorButton: hsl(245 83% 68%);
  --hovercolorOrder: hsl(224 16% 36%);
<<<<<<< Updated upstream
  --cardbackground: white;
  --imagecurve: 15px;
=======
  --centertomiddle: translateX(-50em);
>>>>>>> Stashed changes
}

section {
  background-color: var(--lightblueBG);
  width: 100vw;
  height: 100vh;
  position: relative;
}
.pattern {
  width: 100vw;
  height: 50vh;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: var(--cardbackground);
  height: 75vh;
  width: 25vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--imagecurve);
  transform: translateY(-17em);
  z-index: 2;
}

.hero-img {
  display: grid;
  background-repeat: no-repeat;
<<<<<<< Updated upstream
  height: 20vh;
  width: 25vw;
  border-top-left-radius: var(--imagecurve);
  border-top-right-radius: var(--imagecurve);
  z-index: 3;
}
@media (min-max) {
=======
  height: 30vh;
  transform: var(--centertomiddle);
}

.card {
  transform: var(--centertomiddle);
  position: relative;
>>>>>>> Stashed changes
}
