* {
  box-sizing: border-box;
}

:root {
  --shadowlightblueBG: hsl(224 100% 92%);
  --black: black;
  --lightblueBG: hsl(225 100% 94%);
  --colorButton: hsl(245 75% 52%);
  --colorOrder: hsl(228 14% 57%);
  --hovercolorButton: hsl(245 83% 68%);
  --hovercolorOrder: hsl(224 16% 36%);
  --cardbackground: white;
  --imagecurve: 15px;
}

section {
  background-color: var(--lightblueBG);
  width: 100vw;
  height: 100vh;
}
.pattern {
  width: 100vw;
  height: 50vh;
}

.hero {
  margin: 0;
  display: grid;
}

.card {
  background-color: var(--cardbackground);
  height: 70vh;
  width: 37vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-img {
  background-repeat: no-repeat;
  height: 25vh;
  width: 37vw;
  border-top-left-radius: var(--imagecurve);
  border-top-right-radius: var(--imagecurve);
}
